#slides {
	width:100%;
	height:768px;
	-webkit-transform: translate3d(0, 0px, 0);
	-webkit-backface-visibility: hidden;
}

.slide {
	background:red;
	width:1024px;
	height:100%;
	display:inline-block;
	float:left;
	vertical-align:top;
	border-right:1px solid #E4E4E4;
}

.row {
	display:block;
	width:100%;
	height:100%;
	float:right;
	border-bottom:1px solid #e4e4e4;
}